/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Domine:400,700\a|Open+Sans:300,400,400i,600,700");
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, section, samp,
small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr,
ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  letter-spacing: 0.5px;
}

#column-baseline-grid {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 3111px;
}

.all-grids {
  background-image: url("../img/modular-grid.png"), linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-position: center top, 0% 0%, 0% 0%;
  background-size: auto auto, 80px 100%, 100% 24px;
  background-attachment: scroll, fixed, fixed;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: transparent, transparent, transparent;
}

.modular-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 80px 100%, 100% 24px;
}

.column-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px);
  background-size: 80px 100%;
}

.baseline-grid {
  background-image: linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 100% 24px;
}

.user-supplied-bg-image {
  background-image: url("../img/modular-grid.png");
  background-position: center top;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
}

.header-img img {
  position: absolute;
  z-index: -100;
  width: 100vw;
}

.header-text {
  margin-top: 15vh;
  color: #000979;
}
.header-text h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.7px;
}
.header-text h5 {
  margin: 10px 0 40px 0;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 375px) {
  .header-text {
    margin-top: 20vh;
  }
  .header-text h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .header-text h5 {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 414px) {
  .header-text {
    margin-top: 25vh;
  }
}
@media (min-width: 1024px) {
  .header-text {
    margin-top: 150px;
  }
}
@media (min-width: 1200px) {
  .header-text {
    margin-top: 25vh;
  }
  .header-text h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .header-text h5 {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .header-text {
    margin-top: 250px;
  }
}
@media (min-width: 2560px) {
  .header-text {
    margin-top: 25vh;
  }
  .header-text h1 {
    font-size: 80px;
    line-height: 85px;
  }
  .header-text h5 {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 66px;
  }
}
.top-device-img {
  display: none;
}

@media (min-width: 768px) {
  .top-device-img {
    width: 26vw;
    margin-top: 250px;
    padding-right: 10vw;
    float: right;
    display: block;
    padding-right: 5vw;
  }
}
@media (min-width: 1024px) {
  .top-device-img {
    margin-top: 160px;
    width: 28vw;
  }
}
@media (min-width: 1200px) {
  .top-device-img {
    margin-top: 110px;
  }
}
@media (min-width: 1366px) {
  .top-device-img {
    margin-top: 170px;
  }
}
@media (min-width: 2560px) {
  .top-device-img {
    width: 18vw;
    margin-top: 140px;
    padding-right: 0;
  }
}
.submit {
  position: relative;
  z-index: 10;
  top: -20px;
  left: 150px;
  font-size: 12px;
}

@media (min-width: 360px) {
  .submit {
    left: 180px;
  }
}
@media (min-width: 414px) {
  .submit {
    left: 230px;
  }
}
@media (min-width: 736px) {
  .submit {
    left: 430px;
  }
}
@media (min-width: 768px) {
  .submit {
    left: 250px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .submit {
    left: 400px;
  }
}
@media (min-width: 2560px) {
  .submit {
    left: 500px;
  }
}
/* section 1: background - img */
.section-1-img {
  position: absolute;
  z-index: 11;
  top: 470px;
  left: 0;
}
.section-1-img img {
  width: 100vw;
}

@media (min-width: 375px) {
  .section-1-img {
    top: 570px;
  }
}
@media (min-width: 414px) {
  .section-1-img {
    top: 620px;
  }
}
@media (min-width: 736px) {
  .section-1-img {
    top: 430px;
  }
}
@media (min-width: 768px) {
  .section-1-img {
    top: 670px;
  }
}
@media (min-width: 1024px) {
  .section-1-img {
    top: 490px;
  }
}
@media (min-width: 1200px) {
  .section-1-img {
    top: 480px;
  }
}
@media (min-width: 1366px) {
  .section-1-img {
    top: 600px;
  }
}
@media (min-width: 1920px) {
  .section-1-img {
    top: 650px;
  }
}
@media (min-width: 2560px) {
  .section-1-img {
    top: 750px;
  }
}
.section-1 {
  position: relative;
  z-index: 12;
  top: 100px;
  color: #000979;
}
.section-1 h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 5vh;
  text-align: center;
}

@media (min-width: 375px) {
  .section-1 {
    top: 220px;
  }
  .section-1 h1 {
    font-size: 60px;
  }
}
@media (min-width: 414px) {
  .section-1 h1 {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .section-1 {
    top: 200px;
  }
  .section-1 h1 {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .section-1 {
    top: 0px;
  }
  .section-1 h1 {
    text-align: left;
    margin-bottom: 10vw;
  }
}
@media (min-width: 1200px) {
  .section-1 {
    top: -100px;
  }
  .section-1 h1 {
    font-size: 60px;
    margin-bottom: 13vh;
    text-align: left;
  }
}
@media (min-width: 1920px) {
  .section-1 {
    top: -240px;
    padding-top: 100px;
  }
}
@media (min-width: 2560px) {
  .section-1 {
    top: -210px;
  }
  .section-1 h1 {
    font-size: 60px;
    margin-bottom: 13vh;
    text-align: left;
  }
}
.section-1-content {
  margin-bottom: 60px;
  text-align: center;
}
.section-1-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.section-1-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

@media (min-width: 414px) {
  .section-1-content h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .section-1-content p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .section-1-content {
    text-align: left;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section-1-content {
    margin-bottom: 120px;
  }
  .section-1-content h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}
/* vector x 3 */
.section-1-vector {
  display: none;
}

@media (min-width: 1024px) {
  .section-1-vector {
    display: block;
  }
  .section-1-vector img {
    width: 100%;
  }
}
.section-1-vector-m {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}
.section-1-vector-m img {
  width: 100%;
}

@media (min-width: 1024px) {
  .section-1-vector-m {
    display: none;
  }
}
/* slash line */
.slash {
  display: none;
}
.slash img {
  width: 20px;
}

@media (min-width: 2560px) {
  .slash {
    display: block;
    margin-right: 20px;
  }
  .slash img {
    width: 40px;
  }
}
/* section 2: background - img */
.section-2-img {
  position: absolute;
  z-index: 11;
  top: 2210px;
  left: 0;
  display: block;
}
.section-2-img img {
  width: 100vw;
}

@media (min-width: 360px) {
  .section-2-img {
    top: 2160px;
  }
}
@media (min-width: 375px) {
  .section-2-img {
    top: 2400px;
  }
}
@media (min-width: 414px) {
  .section-2-img {
    top: 2600px;
  }
}
@media (min-width: 736px) {
  .section-2-img {
    top: 2450px;
  }
}
@media (min-width: 768px) {
  .section-2-img {
    top: 2750px;
  }
}
@media (min-width: 1024px) {
  .section-2-img {
    top: 1850px;
  }
}
@media (min-width: 1200px) {
  .section-2-img {
    top: 1900px;
  }
}
@media (min-width: 1920px) {
  .section-2-img {
    top: 2550px;
  }
}
@media (min-width: 2560px) {
  .section-2-img {
    top: 2700px;
  }
}
.section-2 {
  position: relative;
  z-index: 12;
  margin: 0 auto;
  top: 200px;
  color: #000979;
}
.section-2 h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 5vh;
  text-align: center;
}
.section-2 h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin: 5vh;
}

@media (min-width: 375px) {
  .section-2 {
    top: 370px;
  }
  .section-2 h1 {
    font-size: 60px;
  }
}
@media (min-width: 414px) {
  .section-2 h1 {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .section-2 {
    top: 300px;
  }
  .section-2 h1 {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .section-2 {
    top: 370px;
  }
  .section-2 h1 {
    text-align: left;
  }
  .section-2 h6 {
    margin: 0 5vh 5vh 5vh;
  }
}
@media (min-width: 1200px) {
  .section-2 {
    top: 100px;
  }
  .section-2 h1 {
    font-size: 60px;
    text-align: left;
  }
  .section-2 h6 {
    margin: 0 5vh 10vh 5vh;
  }
}
@media (min-width: 1920px) {
  .section-2 {
    top: 100px;
  }
}
@media (min-width: 2560px) {
  .section-2 {
    top: 250px;
  }
  .section-2 h1 {
    font-size: 60px;
    text-align: left;
  }
  .section-2 h6 {
    margin: 0 5vh 5vh 5vh;
  }
}
.section-2-content {
  box-shadow: 0 8px 80px rgba(11, 177, 255, 0.2);
  background-color: #ffffff;
  height: 180px;
  border-radius: 3px;
  padding: 30px;
  margin-top: 60px;
}
.section-2-content p {
  font-size: 14px;
  line-height: 23px;
}

@media (min-width: 414px) {
  .section-2-content p {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .section-2-content {
    height: 200px;
    padding: 30px;
    margin: 5px;
  }
  .section-2-content p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 2560px) {
  .section-2-content {
    height: 260px;
    margin: 10px;
  }
  .section-2-content p {
    font-size: 22px;
    line-height: 34px;
  }
}
/* status title - img */
.status-title {
  text-align: right;
  margin-right: 25px;
  position: relative;
  z-index: -5;
  top: 66px;
}
.status-title img {
  height: 50px;
}

@media (min-width: 414px) {
  .status-title img {
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .status-title {
    top: 14px;
  }
  .status-title img {
    height: 60px;
  }
}
@media (min-width: 1360px) {
  .status-title {
    top: 18px;
  }
  .status-title img {
    height: 65px;
  }
}
@media (min-width: 1920px) {
  .status-title {
    top: 14px;
  }
}
@media (min-width: 2560px) {
  .status-title {
    top: 16px;
  }
}
body {
  font-family: 'Rubik', sans-serif;
}

footer {
  position: relative;
  z-index: 11;
  width: 100vw;
  height: 180px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  bottom: -100px;
  letter-spacing: 0.5px;
  background-image: url("bottom_bg.png");
  background-repeat: round space;
}
footer p {
  font-size: 13px;
  letter-spacing: 0.5px;
  padding-top: 120px;
}

@media (min-width: 375px) {
  footer {
    bottom: -300px;
    height: 200px;
  }
  footer p {
    padding-top: 150px;
  }
}
@media (min-width: 736px) {
  footer {
    bottom: -250px;
    height: 350px;
  }
}
@media (min-width: 768px) {
  footer {
    height: 46vh;
    bottom: -130px;
  }
  footer p {
    padding-top: 200px;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 550px;
    bottom: -200px;
  }
  footer p {
    padding-top: 300px;
  }
}
@media (min-width: 1200px) {
  footer {
    height: 700px;
    bottom: 0px;
  }
}
@media (min-width: 1920px) {
  footer {
    height: 1000px;
    bottom: 0px;
  }
}
@media (min-width: 2560px) {
  footer {
    bottom: 0px;
    height: 1400px;
  }
  footer p {
    padding-top: 500px;
  }
}
.nav-logo {
  height: 24px;
  margin-top: 14px;
  margin-left: 18px;
  transition: 0.25s ease-in;
  display: inline-block;
}

@media (min-width: 768px) {
  .nav-logo {
    margin-left: 0px;
  }
}
.nav-logo:hover {
  opacity: 0.6;
}

.nav li {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
}
.nav li a {
  color: #000979;
  transition: 0.25s ease-in;
}
.nav li a:hover {
  background-color: transparent;
  color: #000979;
  opacity: 0.6;
  transition: 0.25s ease-in;
}
.nav li a:active {
  color: #95D9F9;
  background-color: transparent;
}
.nav li a:focus {
  color: #95D9F9;
  background-color: transparent;
}

.nav-desktop {
  display: none;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: block;
  }
}
.nav-mobile {
  display: inline-block;
  z-index: 100;
  position: fixed;
  top: 16px;
  right: 10vw;
  width: 25px;
  height: 25px;
}
.nav-mobile .nav-mobile-icon {
  position: absolute;
  top: -2px;
  width: 25px;
  height: 2px;
  margin: 10px 0;
  background-color: #000979;
  transition: 0.25s ease-in;
}
.nav-mobile .nav-mobile-icon:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #000979;
  transition: 0.25s ease-in;
}
.nav-mobile .nav-mobile-icon:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #000979;
  transition: 0.25s ease-in;
}

#nav-mobile-ul {
  display: none;
  position: fixed;
  z-index: 50;
  top: 49px;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: white;
  border-bottom: solid 1.5px rgba(1, 27, 140, 0.1);
  box-shadow: 0 8px 80px rgba(11, 177, 255, 0.2);
}
#nav-mobile-ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: white;
  padding: 16px 9.5vw 16px 0;
  text-align: right;
  border-bottom: solid 1px rgba(11, 177, 255, 0.2);
}
#nav-mobile-ul a {
  color: #000979;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  #nav-mobile-ul {
    opacity: 0;
  }
}
.form-control {
  border-radius: 100px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 30px #B5D9FF;
  transition: 0.5s ease-in;
}

.form-control:hover {
  outline: 0;
  box-shadow: 0 0 30px #B5D9FF;
  transition: 0.5s ease-in;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 30px #B5D9FF;
  transition: 0.5s ease-in;
}

@media (min-width: 768px) {
  .form-control {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .form-control {
    width: 450px;
  }
}
@media (min-width: 2560px) {
  .form-control {
    width: 550px;
  }
}
.btn {
  border-radius: 100px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 30px #85C1FF;
  color: #ffffff;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  transition: 0.5s ease-in;
  /* gradient */
  background: #000878;
  background: -moz-linear-gradient(left, #000878 0%, #002fba 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #000878), color-stop(100%, #002fba));
  background: -webkit-linear-gradient(left, #000878 0%, #002fba 100%);
  background: -o-linear-gradient(left, #000878 0%, #002fba 100%);
  background: -ms-linear-gradient(left, #000878 0%, #002fba 100%);
  background: linear-gradient(to right, #000878 0%, #002fba 100%);
}

.btn:hover {
  transition: 0.5s ease-in;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
  color: #ffffff;
  /* gradient */
  background: #040fb3;
  background: -moz-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #040fb3), color-stop(100%, #0040f0));
  background: -webkit-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -o-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -ms-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: linear-gradient(to right, #040fb3 0%, #0040f0 100%);
}

.btn:focus {
  transition: 0.5s ease-in;
  outline: 0 !important;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
  color: #ffffff;
  /* gradient */
  background: #040fb3;
  background: -moz-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #040fb3), color-stop(100%, #0040f0));
  background: -webkit-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -o-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -ms-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: linear-gradient(to right, #040fb3 0%, #0040f0 100%);
}

.btn:active {
  transition: 0.5s ease-in;
  outline: 0 !important;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
  color: #ffffff;
  /* gradient */
  background: #040fb3;
  background: -moz-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #040fb3), color-stop(100%, #0040f0));
  background: -webkit-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -o-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: -ms-linear-gradient(left, #040fb3 0%, #0040f0 100%);
  background: linear-gradient(to right, #040fb3 0%, #0040f0 100%);
}

h1, h2, h3, h4 {
  /* gradient */
  color: #000979;
}
