/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Domine:400,700\a|Open+Sans:300,400,400i,600,700|Petit+Formal+Script|Playfair+Display+SC\a|Playfair+Display:700|Quicksand|Rajdhani:500");
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, section, samp,
small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr,
ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#column-baseline-grid {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 3111px;
}

.all-grids {
  background-image: url("../img/modular-grid.png"), linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-position: center top, 0% 0%, 0% 0%;
  background-size: auto auto, 80px 100%, 100% 24px;
  background-attachment: scroll, fixed, fixed;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: transparent, transparent, transparent;
}

.modular-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px), linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 80px 100%, 100% 24px;
}

.column-grid {
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.2) 60px, transparent 0px);
  background-size: 80px 100%;
}

.baseline-grid {
  background-image: linear-gradient(0deg, transparent 95%, rgba(56, 255, 255, 0.8) 100%);
  background-size: 100% 24px;
}

.user-supplied-bg-image {
  background-image: url("../img/modular-grid.png");
  background-position: center top;
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Top img */
.header-img img {
  position: fixed;
  z-index: -100;
  width: 100vw;
}

/* Navigation Bar */
.nav-logo {
  height: 30px;
}

.nav li {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
}
.nav li a {
  color: #000979;
  transition: 0.25s ease-in;
}
.nav li a:hover {
  background-color: transparent;
  color: #FFFFFF;
  transition: 0.25s ease-in;
}
.nav li a:active {
  background-color: transparent;
}
.nav li a:focus {
  background-color: transparent;
}

.header-text {
  margin-top: 32vh;
  margin-left: 10vw;
  color: #000979;
}
.header-text h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-text h5 {
  margin: 30px 0 40px 0;
  font-size: 22px;
}

/* iphone mockup img */
.top-device-img {
  margin: 140px 10vw 0 0;
  display: block;
  height: 55vw;
  float: right;
}

.submit {
  position: relative;
  z-index: 10;
  top: -20px;
  left: 380px;
}

.section-1-img {
  position: relative;
  z-index: 11;
  top: -50vh;
  left: 0;
}
.section-1-img img {
  margin: 0 auto;
}

.section-1 {
  position: absolute;
  z-index: 12;
  top: 90vh;
}

body {
  font-family: 'Rubik', sans-serif;
}

.form-control {
  border-radius: 100px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 30px #B5D9FF;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 30px #B5D9FF;
}

.btn {
  border-radius: 100px;
  height: 40px;
  border: 0;
  box-shadow: 0 0 30px #85C1FF;
  color: #ffffff;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  transition: 0.5s ease-in;
  /* gradient */
  background: #6dd1ff;
  background: -moz-linear-gradient(left, #6dd1ff 0%, #5900ff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #6dd1ff), color-stop(100%, #5900ff));
  background: -webkit-linear-gradient(left, #6dd1ff 0%, #5900ff 100%);
  background: -o-linear-gradient(left, #6dd1ff 0%, #5900ff 100%);
  background: -ms-linear-gradient(left, #6dd1ff 0%, #5900ff 100%);
  background: linear-gradient(to right, #6dd1ff 0%, #5900ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dd1ff', endColorstr='#5900ff', GradientType=1 );
}

.btn:hover {
  transition: 0.5s ease-in;
  color: #000979;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
  background: #d4f2ff;
  background: -moz-linear-gradient(left, #d4f2ff 0%, #e0d1ff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d4f2ff), color-stop(100%, #e0d1ff));
  background: -webkit-linear-gradient(left, #d4f2ff 0%, #e0d1ff 100%);
  background: -o-linear-gradient(left, #d4f2ff 0%, #e0d1ff 100%);
  background: -ms-linear-gradient(left, #d4f2ff 0%, #e0d1ff 100%);
  background: linear-gradient(to right, #d4f2ff 0%, #e0d1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4f2ff', endColorstr='#e0d1ff', GradientType=1 );
}

.btn:focus {
  transition: 0.5s ease-in;
  outline: 0 !important;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
}

.btn:active {
  transition: 0.5s ease-in;
  outline: 0;
  box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
  color: #000979;
}
