@import 'reset';
@import 'variables';
@import 'grid';
@import 'index';

body {
   font-family: 'Rubik', sans-serif;
}

// ============================================================================//
// footer
// ============================================================================//
footer {
   position: relative;
   z-index: 11;
   width: 100vw;
   height: 38vh;
   margin: 0 auto;
   text-align: center;
   color: #ffffff;
   bottom: -50px;
   letter-spacing: 0.5px;
   background-image: url("bottom_bg.png");
   background-repeat: round space;
   p {
     font-size: 13px;
     letter-spacing: 0.5px;
     padding-top: 150px;
   }
}
@media (min-width: 375px) {
   footer {
      bottom: -200px;
   }
}
@media (min-width: $width-ipad) {
   footer {
      height: 46vh;
      bottom: -130px;
      p {
         padding-top: 200px;
      }
   }
}
@media (min-width: $width-1024) {
   footer {
      height: 550px;
      bottom: -200px;
      p {
         padding-top: 300px;
      }
   }
}
@media (min-width: $width-1280) {
   footer {
      height: 700px;
      bottom: 0px;
   }
}
@media (min-width: $width-1920) {
   footer {
      height: 1000px;
      bottom: 0px;
   }
}
@media (min-width: $width-2560) {
   footer {
      bottom: 0px;
      height: 1400px;
      p {
         padding-top: 500px;
      }
   }  
}

// ============================================================================//
// Navigation Bar
// ============================================================================//
.nav-logo {
   height: 24px;
   transition: 0.25s ease-in;
}
.nav-logo:hover {
   opacity: 0.6;
}

.nav li {
   font-weight: 700;
   font-size: 13px;
   letter-spacing: 2px;
   a {
      color: #000979;
      transition: 0.25s ease-in;
   }
   a:hover {
      background-color: transparent;
      color: #000979;
      opacity: 0.6;
      transition: 0.25s ease-in;
   }
   a:active {
      color: #95D9F9;
      background-color: transparent;     
   }
   a:focus {
      color: #95D9F9;
      background-color: transparent;
   }
}

// ============================================================================//
// Subscribe Form
// ============================================================================//
.form-control {
   border-radius: 100px;
   height: 40px;
   border: 0;
   box-shadow: 0 0 30px #B5D9FF;
   transition: 0.5s ease-in;
}
.form-control:hover {
   outline: 0;
   box-shadow: 0 0 30px #B5D9FF;
   transition: 0.5s ease-in;   
}
.form-control:focus {
   outline: 0;
   box-shadow: 0 0 30px #B5D9FF;
   transition: 0.5s ease-in;
}
@media (min-width: $width-ipad) {
   .form-control {
      width: 300px;
   }
}
@media (min-width: $width-1280) {
   .form-control {
      width: 450px;
   }
}
@media (min-width: $width-2560) {
   .form-control {
      width: 550px;
   }
}

// ============================================================================//
// button
// ============================================================================//
.btn {
   border-radius: 100px;
   height: 40px;
   border: 0;
   box-shadow: 0 0 30px #85C1FF;
   color: #ffffff;
   padding: 0 20px;
   font-weight: 700;
   letter-spacing: 2px;
   text-align: center;
   transition: 0.5s ease-in;
   
   /* gradient */
   background: rgba(0,8,120,1);
   background: -moz-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,8,120,1)), color-stop(100%, rgba(0,47,186,1)));
   background: -webkit-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   background: -o-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   background: -ms-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   background: linear-gradient(to right, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // background: rgba(109,209,255,1);
   // background: -moz-linear-gradient(left, rgba(109,209,255,1) 0%, rgba(89,0,255,1) 100%);
   // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,209,255,1)), color-stop(100%, rgba(89,0,255,1)));
   // background: -webkit-linear-gradient(left, rgba(109,209,255,1) 0%, rgba(89,0,255,1) 100%);
   // background: -o-linear-gradient(left, rgba(109,209,255,1) 0%, rgba(89,0,255,1) 100%);
   // background: -ms-linear-gradient(left, rgba(109,209,255,1) 0%, rgba(89,0,255,1) 100%);
   // background: linear-gradient(to right, rgba(109,209,255,1) 0%, rgba(89,0,255,1) 100%);
   // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dd1ff', endColorstr='#5900ff', GradientType=1 );
}
.btn:hover {
   transition: 0.5s ease-in;
   box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
   color: #ffffff;
   /* gradient */
   background: rgba(4,15,179,1);
   background: -moz-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,15,179,1)), color-stop(100%, rgba(0,64,240,1)));
   background: -webkit-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -o-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -ms-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: linear-gradient(to right, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   // background: rgba(212,242,255,1);
   // background: -moz-linear-gradient(left, rgba(212,242,255,1) 0%, rgba(224,209,255,1) 100%);
   // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,242,255,1)), color-stop(100%, rgba(224,209,255,1)));
   // background: -webkit-linear-gradient(left, rgba(212,242,255,1) 0%, rgba(224,209,255,1) 100%);
   // background: -o-linear-gradient(left, rgba(212,242,255,1) 0%, rgba(224,209,255,1) 100%);
   // background: -ms-linear-gradient(left, rgba(212,242,255,1) 0%, rgba(224,209,255,1) 100%);
   // background: linear-gradient(to right, rgba(212,242,255,1) 0%, rgba(224,209,255,1) 100%);
   // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4f2ff', endColorstr='#e0d1ff', GradientType=1 );
}
.btn:focus {
   transition: 0.5s ease-in;
   outline: 0 !important;
   box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);
   color: #ffffff;
   /* gradient */
   background: rgba(4,15,179,1);
   background: -moz-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,15,179,1)), color-stop(100%, rgba(0,64,240,1)));
   background: -webkit-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -o-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -ms-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: linear-gradient(to right, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
}
.btn:active {
   transition: 0.5s ease-in;
   outline: 0 !important;
   box-shadow: 0 0 30px rgba(0, 9, 121, 0.5);  
   color: #ffffff;
   /* gradient */
   background: rgba(4,15,179,1);
   background: -moz-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,15,179,1)), color-stop(100%, rgba(0,64,240,1)));
   background: -webkit-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -o-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: -ms-linear-gradient(left, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
   background: linear-gradient(to right, rgba(4,15,179,1) 0%, rgba(0,64,240,1) 100%);
}

// ============================================================================//
// general stlye
// ============================================================================//
h1,h2,h3,h4 {
   /* gradient */
   color: #000979; //dark blue
   // background: rgba(0,8,120,1);
   // background: -moz-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,8,120,1)), color-stop(100%, rgba(0,47,186,1)));
   // background: -webkit-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // background: -o-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // background: -ms-linear-gradient(left, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // background: linear-gradient(to right, rgba(0,8,120,1) 0%, rgba(0,47,186,1) 100%);
   // -webkit-background-clip: text;
   // -webkit-text-fill-color: transparent;
}